<div class="banner h-100">
    <div class="container-fluid">
        <div class="side_text">
            <img src="../assets/images/Trainers.png">
        </div>
        <div class="container container1">
            <div class="row ">
                <div class="col-lg-4 col-xl-3 col-md-6 ">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp2.jpeg" alt="Lights" class="loading-image">
                        </a>
                        <p class="col-p">manav</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3  col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp.jpeg" alt="Nature" class="loading-image">
                        </a>
                        <p class="col-p">preetam</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp2.jpeg" alt="Fjords" class="loading-image">
                        </a>
                        <p class="col-p">bindu</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp.jpeg" alt="Fjords" class="loading-image">
                    </a>
                    <p class="col-p">Shreedhar</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>