.main-wrapper {
    background-color: #e5e5e5;
   margin-top: -11px;
}

.loading-image{
   width: 88%;
    border-radius: 23px 23px 23px 23px; 
}
.co-h{
    padding-top: 0px;
}
.col-p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000;
   margin-left: 17px;
    text-align: left;
    padding: 7px;
    width: 100%;
}
.container1{
    padding-top: 140px; 
    margin-left: 94px;
}
.c1{
    padding-top: 0px;
}
.side_text1{
    position: absolute; 
    
   
}
@media (max-width:576px){
    .side_text1 {
       display: none;
    }
    .container1{
        padding-top: 10px; 
        margin-left: 0;
    }
    .main-wrapper {
   
        background-color: #e5e5e5;
        margin-top: -91px;
        height: 100%;
    }
    .co-h{
        padding-top: 10px;
    }
        .c1{
            margin-top: 119px;
        }
}
@media(max-width:767px){

    .side_text1 {
        display: none;
     }
     .container1{
         padding-top: 10px; 
         margin-left: 0;
     }
     .main-wrapper {
    
         background-color: #e5e5e5;
         margin-top: -91px;
         height: 100%;
     }
     .co-h{
         padding-top: 10px;
         float: right;
     }
         .c1{
             margin-top: 119px;
             
         }
         .col-p{
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #000;
            padding-left: 65px;
            width: 100%;
            
        }
 }

