<div class="main-wrapper">
    <div class="container-fluid">
        <div class="side_text1 pt-5">
            <img src="../assets/images/Browse-Classes.png">
        </div>
        <div class="container container1">
            <div class="row ">
                <div class="col-lg-4 col-xl-3  col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp2.jpeg" alt="Lights" class="loading-image co-h c1">
                        </a>
                        <p class="col-p">jlksdsx</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp2.jpeg" alt="Nature" class="loading-image co-h">

                        </a>
                        <p class="col-p">jlksdsx</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp2.jpeg" alt="Fjords" class="loading-image co-h">
                        </a>
                        <p class="col-p">jlksdsx</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="thumbnail">
                        <a href="" target="_blank">
                            <img src="../assets/images/dashp.jpeg" alt="Fjords" class="loading-image co-h">
                        </a>
                        <p class="col-p">jlksdsx</p>
                    </div>
                </div>

            </div>
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-4 col-xl-3 col-md-6">
                        <div class="thumbnail">
                            <a href="" target="_blank">
                                <img src="../assets/images/dashp2.jpeg" alt="Lights" class="loading-image co-h">
                            </a>
                            <p class="col-p">jlksdsx</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 ">
                        <div class="thumbnail">
                            <a href="" target="_blank">
                                <img src="../assets/images/dashp.jpeg" alt="Nature" class="loading-image co-h">
                            </a>
                            <p class="col-p">jlksdsx</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6">
                        <div class="thumbnail">
                            <a href="" target="_blank">
                                <img src="../assets/images/dashp2.jpeg" alt="Fjords" class="loading-image co-h">
                            </a>
                            <p class="col-p">jlksdsx</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 col-md-6 ">
                        <div class="thumbnail">
                            <a href="" target="_blank">
                                <img src="../assets/images/dashp.jpeg" alt="Fjords" class="loading-image co-h">
                            </a>
                            <p class="col-p">jlksdsx</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>