<div class="banner">
    <div class="container-fluid">
        <div class="row">

            <div class=" col-md-1 side_text ml-2">
                <img src="../assets/images/Live-Upcoming.png">
            </div>
            <div class="col-lg-3 ">
                <div class="fixed-image  ">
                    <img class="upper-layer bg_img" src="../assets/images/transparent-layer.png" alt="" />

                    <img class="bg_img bottom-layer" src="../assets/images/dash.png" alt="" />
                </div>
            </div>

            <ul>
                <li>
                    <div class="col-lg-5 schedule ml-5">
                        <div class="text">
                            <span>04:50 pm</span>

                            <p class="d-flex align-items-center mt-2">
                                <span class="cardio">cardio</span>
                                <span style="margin-left: 5px; font-size:12px;">45 mins</span>
                            </p>
                            <h6 class="header6">Kelper 32</h6>
                            <span class="Start_time" style="color: #cc1616;"> start in: 0h:0m:0s</span><br>
                            <a href="" class="btn btn_min btn-primary ml-auto "> PURCHASE</a>
                        </div>
                        <div class="col-lg-3 ">
                            <img src="../assets/images/dashp.jpeg" class=" bg-img">
                        </div>

                    </div>

                    <div class="col-lg-5 schedule  schedule_1" >
                        <div class="text">
                            <span>04:50 pm</span>

                            <p class="d-flex align-items-center mt-2">
                                <span class="cardio">cardio</span>
                                <span style="margin-left: 5px; font-size:12px;">45 mins</span>
                            </p>
                            <h6 class="header6">Kelper 32</h6>
                            <span class="Start_time" style="color: #cc1616;"> start in: 0h:0m:0s</span><br>
                            <a href="" class="btn btn_min btn-primary ml-auto "> PURCHASE</a>
                        </div>
                        <div class="col-lg-3 ">
                            <img src="../assets/images/dashp.jpeg" class=" bg-img">
                        </div>

                    </div>



                    <div class="col-lg-5 schedule schedule_2 " >
                        <div class="text">
                            <span>04:50 pm</span>

                            <p class="d-flex align-items-center mt-2">
                                <span class="cardio">cardio</span>
                                <span style="margin-left: 5px; font-size:12px;">45 mins</span>
                            </p>
                            <h6 class="header6">Kelper 32</h6>
                            <span class="Start_time" style="color: #cc1616;"> start in: 0h:0m:0s</span><br>
                            <a href="" class="btn btn_min btn-primary ml-auto "> PURCHASE</a>
                        </div>
                        <div class="col-lg-3 ">
                            <img src="../assets/images/dashp.jpeg" class=" bg-img">
                        </div>

                    </div>
<div >
    <a href="" class="view_schedule mt-5" >View full Schedule</a>
</div>
                </li>
            </ul>
        </div>
    </div>
</div>